# Jupyter
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# VS Code
.vscode/

# Windows
Thumbs.db

# macOS
.DS_Store02_Pandas/notebook/Titanic-Dataset.csv

02_Pandas/notebook/Titanic-Dataset.csv

# Temporary files
temp/*